html, body {
	height: 100%;
    margin: 0;
    height: 100vh;
}

body
{
    font-family: 'Roboto', Arial, Helvetica Neue, sans-serif;
    font-size: 15px;

background: linear-gradient(154deg, #2979d1, #29c4d1, #296bd1, #4368bc, #8c63d4);
background-size: 1000% 1000%;
-webkit-animation: AnimationName 24s ease infinite;
-moz-animation: AnimationName 24s ease infinite;
-o-animation: AnimationName 24s ease infinite;
animation: AnimationName 24s ease infinite;
}

header {
    width: 100%;
    text-align: center;
    color: #DFDFDF;
    background: none;
    padding-top: 65px;
}

.fa
{
    color: #DFDFDF;
}

header h1 {
    font-family: 'Open Sans', Arial, Helvetica Neue, sans-serif;
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 3px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover { 
    text-decoration: none;
}

#credits {
    text-align: center;
    color: #D6D6D6;
    font-size: 13px;
}

.container
{
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);

}

.container a
{
    color: #ffa500;
}
.reverseengineer{ float: left; width: 33%; text-align: center; color: #DFDFDF;}
.database {float: right; width: 33%; text-align: center; color: #DFDFDF;}
.programming{ display: inline-block; width: 33%; text-align: center; color: #DFDFDF;}


.fa-heart
{
    color: rgba(255,255,255,0.4);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.fa-heart:hover
{
    color: #fff;
}


h3
{
    text-align: center;
    text-transform: uppercase;
}

p
{
    font-family: 'Roboto', Arial, Helvetica Neue, sans-serif;
    font-size: 13px;

}
@-webkit-keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}